* {
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0 auto -53px;
  min-height: 100%;
}
.push {
  height: 53px;
}
nav {
  border-bottom: 1px solid #e1e1e1;
  padding-top: 1em;
}
footer .container {
  border-top: 1px solid #e1e1e1;
}
  footer .container p {
    margin: 0;
    padding-bottom: 1em;
    padding-top: 1em;
  }
h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 1em;
  margin: .5em 0;
}
p {
  line-height: 1.5em;
}
ul {
  margin-left: 50px;
  margin-top: 25px;
}
.brand {
  padding: 8px 0;
}
.nav {
  float: right;
  margin: 0;
}
  .nav li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0 10px 15px 10px;
  }
  .nav li:last-child {
    padding-right: 0;
  }
a {
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }
