* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  margin: 0 auto -50px;
  min-height: 100%;
}
footer,
.push {
  height: 50px;
}
  footer .container {
    border-top: 1px solid #e1e1e1;
  }
  footer p {
    margin-top: 18px;
  }
body {
  margin: 1em auto 0 auto;
  padding: 0 18px;
}
h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 1em;
  margin: .5em 0;
}
p {
  line-height: 1.5em;
}
ul {
  margin-left: 50px;
  margin-top: 25px;
}
.brand {
  padding: 8px 0;
}
.nav {
  float: right;
  margin: 0;
}
  .nav li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0 10px 15px 10px;
  }
  .nav li:last-child {
    padding-right: 0;
  }
a {
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }
