<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="row" style="margin-bottom:40px;">
          <nav class="column">
            <a class="brand" href="/">Nate Irwin</a>
            <ul class="nav">
              <li>
                <a href="/active/">Active</a>
              </li>
              <li>
                <a href="/books/">Books</a>
              </li>
              <li>
                <a href="/bucket-list/">Bucket list</a>
              </li>
              <li>
                <a href="/music/">Music</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row" style="margin-bottom:40px;">
          <main class="column">
            {{ content }}
          </main>
        </div>
      </div>
      <div class="push"></div>
    </div>
    <footer class="row">
      <div class="column">
        <div class="container">
          <p>Updated: {{ site.time | date: "%B %e, %Y %r" }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
