html,
body,
.container {
  height: 100%;
}
html,
body,
.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  max-width: 100%;
}
#map {
  border-top:solid 2px #000;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 171px;
  top: 50px;
}
.title {
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}
  .title h1 {
    float: left;
    font-size: 27px;
    margin: 0;
    padding: 8px;
  }
  .title p {
    display: none;
    float: right;
    margin-right: 8px;
    margin-top: 20px;
  }
  @media (min-width: 400px) {
    .title h1 {
      font-size: 35px;
    }
    .title p {
      display: inherit;
    }
  }
/* TODO: Needs to be responsive */
.sidebar {
  border-top: solid 2px #000;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 50px;
  width: 171px;
}
  .sidebar ul {
    margin: 0;
  }
  .sidebar li {
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
    cursor: pointer;
    list-style-type: none;
    margin: 0;
  }
    .sidebar li:first-child {
      border-top: none;
    }
    .sidebar li div {
      padding: 8px;
    }
